.inicio .container .logo {
    justify-content: center;
    margin: 3rem auto;

}

.inicio .title {
    text-align: center;
    font-weight: 300;
}

.inicio .flex .form {
    max-width: 80rem;
    margin: 1rem auto;
    flex-direction: center;
    gap: 250rem;
}


.inicio .inicio {
    max-width: 25rem;
    margin: 0 auto;
    justify-content: center;
}

/* .inicio .flex {
    padding-bottom: 10%;
} */