.patient .logo {
    justify-content: center;
    margin: 1rem auto;

}

.patient .title {
    text-align: center;
    font-weight: 300;
}

.patient .form {
    max-width: 25rem;
    margin: 1rem auto;
    flex-direction: column;
    gap: 2rem;
}

.patient .patient {
    max-width: 25rem;
    margin: 0 auto;
    justify-content: center;
}

.main-headline {
    margin-top: 9rem;
    font-weight: 700;
}

.main-headline .title {
    font-size: 28px;
    color: var(--main-color);
}

.main-headline .content {
    font-size: 48px;
    color: var(--main-color);
}

.supp-headline {
    margin-top: 2rem;
    margin-bottom: 2rem;
}